@import "tailwindcss";
@import "@fontsource/manrope";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  font-family: "Manrope";
  background-color: oklch(0.985 0.003 80);
  margin: 0;
}
